<body>
  <div class="horizontal">
    <ng-container [value]="days" *ngFor="let today of days">
      <div class="vertical">
        <mat-card class="day">
          <mat-card-title>{{ today.day }}</mat-card-title>
          <!-- <mat-card-title>{{ day.month }}</mat-card-title>
          <mat-card-title>{{ day.year }}</mat-card-title> -->
          <mat-card-title>{{ today.nbDayInWeek }}</mat-card-title>
        </mat-card>
        <div class="meal-container2">
          <div
            class="meal-container"
            [value]="today.meal"
            *ngFor="let mealeeee of today.meal[0]"
          >
            <app-meal-slot
              (menuState)="burgerClicked($event)"
              [fullMeal]="mealeeee"
              [presentDay]="today.nbDayInWeek"
            >
            </app-meal-slot>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</body>
